<!-- 
    @Author: Chinonso Agbo 
    @ version 2.0
-->
{% extends "todoHeader.html" %}

{% block content %}
 
                    <div class="mt-0">
                        <!-- ==========================show added tasks=============-->
                        {% for task in tasks_uncomplete %}
                        <div class="card mb-0">
                            <div class="card-body">
                                <span id="taskText_{{ task.id }}">
                                    <h4 class="card-title mb-0">{{ task.task }}</h4>
                                    <p class="mb-0">{{ task.description }}</p>
                                </span>
                                <small class="text-muted" style="font-size: 12px;">{{ task.created_at|date:"n/j/Y H:i"}}
                                </small>
                                <span style="position: relative; float: right;">
                                    <!-- mark complete task -->
                                    <a href="{% url 'completeTask' task.id %}" class="me-2 text-decoration-none"><i
                                            class="fa-solid fa-check"></i></a>
                                    <!-- Edit task  href="javascript:void(0)" onclick="editTask('{{ task.id }}', '{{ task.task }}')"  -->
                                    <a href="{% url 'editTask' task.id %}"
                                        class="me-2 text-decoration-none"><i class="fa-solid fa-pen-to-square"></i></a> 
                                    <!-- Delete Task -->
                                    <a href="{% url 'deleteTask' task.id %}" class="me-2 text-decoration-none"><i
                                            class="fa-solid fa-x"></i></a>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- ==============================="Completed" section header outside of the loop =====================-->
                    <p class="h5 mt-4 ms-4">Completed <a href="javascript:void(0);" id="completedToggle"><i
                                class="fa-solid  fa-chevron-down me-2 text-decoration-none"></i></a> <span
                            class="text-decoration-none ms-1" style="font-size: 15px; color: gray">
                            ({{ count_uncompleted }})</span>
                    </p>
                    <div id="completedTasksSection">
                        {% for task_complete in tasks_complete %}
                        <div class="card mb-0">
                            <div class="card-body">
                                <h4 class="card-text cancel-line mb-0">{{ task_complete.task }}</h4>
                                <p class="mb-0">{{ task_complete.description }}</p>
                                <small class="text-muted" style="font-size: 12px;">{{ task_complete.created_at|date:"n/j/Y H:i"}}
                                </small>
                                <span style="position: relative; float: right;">
                                    <!-- UnmarkComplete -->
                                    <a href="{% url 'markAsUndone' task_complete.id %}" class="me-2 text-decoration-none"><i
                                            class="fa-solid fa-arrow-rotate-left"></i></a>
                                    <!-- Delete Task -->
                                    <a href="{% url 'deleteTask' task_complete.id %}" class="me-2 text-decoration-none"><i
                                            class="fa-solid fa-x"></i></a>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Your JavaScript code... -->

</body>

</html>

{% endblock content %}