{% extends 'logoHeader.html' %}
{% block content %}





<div class="container mb-3  align-items-center">
  <form action="" method="post" >
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label"> {{form.username.label}} or Email</label>
      {{form.username}}
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label"> {{form.password.label}}</label>
        {{form.password}}
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Login" id=""> 
    

  </form>
</div>

</body>

</html>
{% endblock content %}

