{% extends "logoHeader.html" %}

{% block content %}

<div class="container mb-3  align-items-center">

  <form method="post" action="">
    {% csrf_token %}
    <div class="form-row">
      
     
        <label for="inputEmail4"> {{ form.username.label }} or Email </label>
        {{ form.username}}

        <label for="inputEmail4"> {{form.password1.label}}</label>
        {{form.password1}}
        <label for="inputEmail4"> {{form.password2.label}}</label>
        {{form.password2}}
        <br>
       

    <input type="submit" class="btn btn-primary" value="Register" id="">

   
     

    </div>

      
      
  </form>
</div>

{% endblock content %}
