{% extends "todoHeader.html" %}
{% block content %}
  

  <p class="ms-3">
    <span class="badge bg-primary">{{ search_count }}</span>
    <span class="ms-1">found Tasks</span>
  </p>
  <!-- Main content -->
          <div class="card-body">


            <!-- ======================= display searched items ====================== -->
            <!-- Display searched items -->
            {% if search_Info %}
            <!-- Show incomplete tasks -->
            {% for search_uncomplete in search_tasks_uncomplete  %}
            <div class="card mb-2">
              <div class="card-body">
               
                  <p class="card-title mb-0">{{ search_uncomplete.task }}</p>
                
                <small class="text-muted" style="font-size: 12px;">{{ search_uncomplete.created_at|date:"n/j/Y H:i"}}</small>
                <span style="position: relative; float: right;">
                  <!-- Mark complete task -->
                  {% if search_uncomplete %}
                  <a href="{% url 'markAsUndone' search_uncomplete.id %}" class="me-2 text-decoration-none">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                  </a>
                  {% else %}
                  <a href="{% url 'completeTask' search_uncomplete.id %}" class="me-2 text-decoration-none">
                    <i class="fa-solid fa-check"></i>
                  </a>
                  {% endif %}
                  <!-- Edit task -->
                  <!-- Delete Task -->
                  <a href="{% url 'deleteTask' search_uncomplete.id %}" class="me-2 text-decoration-none">
                    <i class="fa-solid fa-x"></i>
                  </a>
                </span>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card mb-2">
              <div class="card-body">
                <p class="align-text-center">Task not found</p>
              </div>
            </div>
            {% endif %}

            <!-- Completed section header and tasks -->
            {% if search_tasks_complete %}
            <p class="h5 mt-4 ms-4">Completed <a href="javascript:void(0);" id="completedToggle"><i
                  class="fa-solid  fa-chevron-down me-2 text-decoration-none"></i></a> <span
                class="text-decoration-none ms-1" style="font-size: 15px; color: gray">
                ({{ search_tasks_complete|length }})</span>
            </p>
            <div id="completedTasksSection">
              {% for completed_task in search_tasks_complete %}
              <div class="card mb-2">
                <div class="card-body">
                  <p class="card-text cancel-line mb-0">{{ completed_task.task }}</p>
                  <small class="text-muted" style="font-size: 12px;">{{ completed_task.created_at|date:"n/j/Y
                    H:i"}}</small>
                  <span style="position: relative; float: right;">
                    <!-- UnmarkComplete -->
                    <a href="{% url 'markAsUndone' completed_task.id %}" class="me-2 text-decoration-none"><i
                        class="fa-solid fa-arrow-rotate-left"></i></a>
                    <!-- Delete Task -->
                    <a href="{% url 'deleteTask' completed_task.id %}" class="me-2 text-decoration-none"><i
                        class="fa-solid fa-x"></i></a>
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}

          </div>
      




</body>

</html>
{% endblock content %}